<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./layout/head') %>
  </head>
  <body >
    <body>
      <header>
      <%- include('./layout/header') %>
      </header>
      <main>
        <h4>My Book Collection</h4>
       
        <div>
          <%- include('books/details') %>
        </div>
      </main>
    </body>
  </body>
</html>