<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../layout/head') %>
  </head>
  <body >
    <body>
      <header>
        <%- include('../views/layout/header') %>
      </header>
      <main>
        <h4>My Book Collection</h4>
        <p>
          You have <%= count %> saved locally.
        </p>
        <div>
          <%- include('./books/details') %>
        </div>
      </main>
    </body>
  </body>
</html>